<form [formGroup]="serverForm" (ngSubmit)="onSubmit()" class="server-form">
  <mat-form-field appearance="fill">
    <mat-label>Nome do Servidor</mat-label>
    <input matInput id="serverName" formControlName="serverName">
    @if (serverForm.get('serverName')?.errors?.['required'] && serverForm.get('serverName')?.touched) {
      <mat-error>Nome do servidor é obrigatório.</mat-error>
    }
    @if (serverForm.get('serverName')?.errors?.['minlength'] || serverForm.get('serverName')?.errors?.['maxlength']) {
      <mat-error>O nome do servidor deve ter entre 5 e 40 caracteres.</mat-error>
    }
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!serverForm.valid">
    Registrar Servidor
  </button>
</form>