<div class="parent">
  <mat-card class="container">
    <mat-card-header>
      <mat-card-title>
        <h1>Bem vindo ao discapp!</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Seu aplicativo de mensagens em tempo real, projetado para facilitar a comunicação instantânea usando WebSocket.</p>
      <p>Tornamos mais fácil para <strong>pequenas empresas</strong> e <strong>prestadores de serviços individuais</strong>
         se conectarem e interagirem de forma rápida e eficiente com seus clientes em potencial.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="tryNow()">Teste agora!</button>
    </mat-card-actions>
  </mat-card>
</div>
