<div class="parent">
  <mat-card class="container">
    <mat-card-header>
      <mat-card-title>
        <h1>Bem vindo ao discapp!</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Your creative online marketplace in Slovakia, designed to simplify the search and provision of services.</p>
      <p>We make it easier for <strong>small businesses</strong> and <strong>individual service providers</strong> to effectively present their offerings to a broad range of potential clients.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="tryNow()">Teste agora!</button>
    </mat-card-actions>
  </mat-card>
</div>
