<div class="server-details-container">
  <mat-card>
    <mat-card-content>
      <div class="server-details-content">
        @if (server) {
          <h2>{{ server.serverName }}</h2>
          <h3>Canais</h3>
          <mat-list>
            @for (channel of server.channels; track channel.channelId) {
              <mat-list-item>
                <mat-icon matListItemIcon>tag</mat-icon>
                <a matListItemTitle [routerLink]="['/servers', server.id, 'channels', channel.channelId]">
                  {{ channel.name }}
                </a>
              </mat-list-item>
            }
          </mat-list>

          <h3>Criar novo Canal</h3>
          <form [formGroup]="channelForm" (ngSubmit)="createChannel()" class="channel-form">
            <mat-form-field>
              <mat-label>Nome do novo canal</mat-label>
              <input matInput formControlName="newChannelName">
              @if (channelForm.get('newChannelName')?.hasError('required')) {
                <mat-error>O nome do canal é obrigatório.</mat-error>
              }
              @if (channelForm.get('newChannelName')?.hasError('minlength')) {
                <mat-error>O nome do canal deve ter pelo menos 2 caracteres.</mat-error>
              }
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="channelForm.invalid" class="button-form">
              Criar Canal
            </button>
          </form>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>




